@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #fff;
  color: #222;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}



.nav-container {
    background-color: #f8f8f8;
    padding: 10px 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;   
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  }
  
  .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 30px;
    font-weight: 800;
  }
  
  .logo {
    display: flex;
    align-items: center;
    height: 100px;
  }
  
  .logo img {
    max-height: 100%;
    max-width: 100%;
    height: auto;
    width: auto;
    
  }
  
  header ul.nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-grow: 1;
  }
  
  header ul.nav li {
    display: inline;
    margin-left: 35px;
    cursor: pointer;
    transition: opacity 500ms ease;
    color: #000000;
    font-weight: 400;
  }
  
  header ul.nav li:first-child {
    margin-left: 0;
  }
  
  header ul.nav li:hover {
    opacity: 0.4;
  }
  
  header ul.nav li button {
    background: none;
    border: none;
    font: inherit;
    color: inherit;
    cursor: pointer;
    padding: 0;
    text-align: left;
  }
  
  header ul.nav li button:hover {
    opacity: 0.4;
  }

  .header-content .basket-button,
.header-content .language-container {
  margin-left: 0px; 
}
  
  
.basket-button {
  position: relative;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.basket-icon {
  width: 24px; 
  height: 24px; 
}

.basket-count {
  position: absolute;
  top: -10px; 
  right: -10px; 
  background-color: red; 
  color: white;
  border-radius: 50%;
  width: 20px; 
  height: 20px; 
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px; 
  font-weight: bold; 
}

.basket-button:hover .basket-icon {
  opacity: 0.7;
}

.language-container {
  display: flex;
  align-items: center;
}

.language-toggle {
  background: none;
  border: none;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 10px;
}

.language-icon {
  width: 22px;
  height: 22px;
  transition: transform 0.3s ease;
}

.language-icon.rotated {
  transform: rotate(90deg);
}

.language-dropdown {
  position: absolute;
  top: 100%;
  right: 0;
  background: #f8f8f8;
  list-style: none;
  padding: 0;
  margin: -4px;
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  animation: dropdown-fade-in 0.3s ease forwards;
}
  
  @keyframes dropdown-fade-in {
    0% {
      opacity: 0;
      visibility: hidden;
      transform: translateY(-10px);
    }
    100% {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
    }
  }
  
  @keyframes dropdown-fade-out {
    0% {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
    }
    100% {
      opacity: 0;
      visibility: hidden;
      transform: translateY(-10px);
    }
  }
  
  .language-container:hover .language-dropdown {
    animation-name: dropdown-fade-in;
  }
  
  .language-container:not(:hover) .language-dropdown {
    animation-name: dropdown-fade-out;
  }
  
  .language-dropdown li {
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 50px;
  }
  
  .language-dropdown li:hover {
    background-color: #f0f0f0;
  }
  
  .language-text {
    margin-right: 10px;
    font-size: 15px;
    color: #333;
    font-family: 'Montserrat', sans-serif;
  }
  
  
  .language-dropdown li {
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    color: #333;
    border-radius: 0px;
    border-bottom: 0.5px solid #ccc;
    font-weight: 600;
  }
  
  
  
  .language-dropdown li:hover {
    background-color: #f0f0f0;
  }
  
  
  .language-text {
    margin-right: 10px;
    font-size: 15px;
    color: #333;
  }
  
  
  
  .burger-menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
    background: none;
    border: none;
  }
  
  .burger-bar {
    width: 25px;
    height: 3px;
    background-color: #000;
    margin: 3px 0;
    transition: transform 0.4s, opacity 0.3s ease-out;
  }
  
  .change:nth-child(1) {
    transform: translateY(11px) rotate(45deg);
  }
  
  .change:nth-child(2) {
    opacity: 0;
  }
  
  .change:nth-child(3) {
    transform: translateY(-6px) rotate(-45deg);
  }

 
  
  
  
  @media (max-width: 768px) {
    .basket-button {
      position: relative;
      background: none;
      border: none;
      cursor: pointer;
      padding: 0;
    }
    
    .basket-icon {
      width: 24px;
      height: 24px; 
    }
    
    .basket-count {
      position: absolute;
      top: -5px;
      right: -5px;
      background-color: red;
      color: white;
      border-radius: 50%;
      width: 17px;
      height: 17px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 0.8rem;
    }
    
    .header-content {
      justify-content: space-between;
      padding: 0 10px;
    }
  
    .logo {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }
  
    .burger-menu {
      display: flex;
      align-items: center;
      cursor: pointer;
      transition: transform 0.3s ease;
    }
  
    .burger-menu span {
      display: block;
      width: 25px;
      height: 3px;
      margin: 5px 0;
      background-color: #333;
      transition: all 0.3s ease;
    }
  
   
  
    header ul.nav {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 40px;
      right: 0;
      width: 100%;
      background-color: #f8f8f8;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
      opacity: 0;
      transform: translateY(-20px);
      transition: opacity 0.3s ease, transform 0.3s ease;
      animation: fadeInNav 0.5s forwards;
      margin: 10px 0; 
      line-height: 2.0; 
      font-family: 'Montserrat', sans-serif;
    }
  
    @keyframes fadeInNav {
      from {
        opacity: 0;
        transform: translateY(-20px);
      }
      to {
        opacity: 1;
        transform: translateY(0);
      }
    }
  
    header ul.nav.open {
      display: flex;
      opacity: 1;
      transform: translateY(0);
    }
  
    header ul.nav li {
      margin: 5px 0;
      text-align: center;
      transition: transform 0.3s ease, opacity 0.3s ease;
      opacity: 0;
      transform: translateY(-10px);
      animation: fadeInUp 0.5s forwards;
    }
  
    header ul.nav.open li {
      opacity: 1;
      transform: translateY(0);
    }
  
    header ul.nav li a {
      display: block;
      padding: 10px;
      color: #333;
      text-decoration: none;
      transition: background-color 0.3s ease, color 0.3s ease;
    }
  
    header ul.nav li a:hover {
      background-color: #ddd;
      color: #000;
    }
  }
  