.product-details {
  padding: 20px;
  max-width: 1200px;
  margin: 50px auto;
}

.product-main-info {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.carousel-block {
  flex: 1;
  position: relative;
  max-width: 600px;
  min-width: 300px;
  margin: auto; 
  overflow: hidden;
  touch-action: pan-y;
}

.carousel .carousel-slider {
  position: relative;
  transition: transform 0.2s ease;
  overflow: hidden;
  height: 100%;
}


.carousel .slide {
  background: none;
  max-width: 100%;
}

.carousel .thumbs-wrapper {
  margin-top: 10px;
  max-width: 100%;
  margin: 0 auto;
}


.carousel .thumb {
  border-radius: 4px; 
  border: 2px solid transparent; 
  margin: 0 5px; 
  transition: border-color 0.3s ease;
  box-sizing: border-box; 
}

.carousel .thumb.selected {
  border-color: #ccc; 
}

.carousel .thumb img {
  border-radius: 4px; 
  max-width: 100%;
  height: auto;
}

.main-image {
  object-fit: cover;
  border-radius: 4px;
  width: 100%;
  height: auto;
  display: block; 
}

.carousel .control-dots {
  position: absolute;
  bottom: 15px;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 10px 0;
  box-sizing: border-box;
}

.carousel .control-dots .dot {
  width: 8px;
  height: 8px;
  margin: 0 4px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.carousel .control-dots .dot.selected {
  background-color: rgba(255, 255, 255, 0.8);
  transform: scale(1.2);
}

.carousel .slider-wrapper {
  position: relative;
  padding-bottom: 30px;
  max-width: 100%; 
  overflow: hidden; 
}

.product-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: left;
}

.product-title {
  font-size: 36px;
  margin-bottom: 10px;
}

.product-options {
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 10px;
}

.product-price {
  font-size: 24px;
  color: #333;
  text-align: left;
}

.order-button {
  display: block;
  width: 400px;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  text-align: center;
  background-color: black;
  color: white;
  transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

.order-button:hover {
  background-color: #333;
  color: #eee;
  transform: scale(1.01);
}

.product-description,
.product-features {
  padding: 20px;
  background: #f9f9f9;
  border-radius: 10px;
  text-align: left;
}

.product-description h2,
.product-features h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.product-description p,
.product-features p {
  font-size: 16px;
  margin-bottom: 5px;
}

@media (max-width: 768px) {
  .product-details {
    padding: 10px;
    margin: 70px auto;
  }

  .product-title {
    font-size: 28px;
    text-align: left;
  }

  .product-price {
    font-size: 20px;
    text-align: left;
  }

  .product-main-info {
    flex-direction: column;
    align-items: center;
  }

  .carousel-block {
    max-width: 80%;
  }
  

  .main-image {
    max-width: 100%;
    margin-bottom: 20px;
  }

  .product-title {
    font-size: 28px;
    text-align: center;
  }

  .product-price {
    font-size: 20px;
    text-align: center;
  }

  .order-button {
    width: 100%;
    margin: 5px 0;
  }

  .product-description h2,
  .product-features h2 {
    font-size: 20px;
  }

  .product-description p,
  .product-features p {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .product-title {
    font-size: 24px;
  }

  .product-title {
    font-size: 28px;
    text-align: left;
  }

  .product-price {
    font-size: 20px;
    text-align: left;
  }

  .product-price {
    font-size: 18px;
  }

  .order-button {
    font-size: 14px;
    padding: 8px;
  }

  .product-description h2,
  .product-features h2 {
    font-size: 18px;
  }

  .product-description p,
  .product-features p {
    font-size: 12px;
  }
}

@media (max-width: 1024px) {
  .product-details {
    padding: 10px;
  }

  .product-main-info {
    flex-direction: column;
    align-items: center;
  }

  .carousel-block {
    max-width: 100%;
  }

  .main-image {
    max-width: 100%;
    margin-bottom: 20px;
  }

  .product-info {
    width: 100%;
    text-align: center;
  }

  .product-title {
    font-size: 32px;
  }

  .product-price {
    font-size: 22px;
  }
}

@media (max-width: 320px) {
  .product-title {
    font-size: 20px;
  }

  .product-price {
    font-size: 16px;
  }

  .order-button {
    font-size: 12px;
    padding: 6px;
  }

  .product-description h2,
  .product-features h2 {
    font-size: 16px;
  }

  .product-description p,
  .product-features p {
    font-size: 10px;
  }
}
